<h2>Lista dei promemoria salvati</h2>
<fin-common-table *ngIf="atleastOne" [headers]="['Contenuto', 'Data creazione', 'Data scadenza', 'Stato', 'Opzioni']"
    [items]=listOfTodos [fields]="['content', 'createdAt', 'dueDate', 'status']" [options]="['❌']"
    (optionEvent)="optionHandler($event)"></fin-common-table>
<div *ngIf="!atleastOne">Non ci sono promemoria salvati!</div>
<img width="70px" height="70px" src="https://c.tenor.com/wpSo-8CrXqUAAAAi/loading-loading-forever.gif" alt="loading"
    *ngIf="loading">