table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    border: 1px solid black;
}

th, td, tr {
    vertical-align: middle;
    border: 1px solid black;
    height: 5vh;
}

button {
    cursor: pointer;
    margin-left: 3%;
    margin-right: 3%;
}